<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu">

    <a class="item">
      <h2>Manage App</h2>
    </a>
    <a class="item" routerLink="/home" routerLinkActive="active" >
      Home
    </a>
  </div>
  <div class="right menu">
    <!-- <a class="item"  routerLink="/login" routerLinkActive="active">
      Login
    </a> -->
    <!-- <a class="item"  routerLink="/add-department" routerLinkActive="active">
      Add Department
    </a> -->
    <a class="item"  routerLink="/add-Employee" routerLinkActive="active">
      Add Employee
    </a>
    <a class="item"  routerLink="/search-employee" routerLinkActive="active">
      Search Employee
    </a>
  </div>
</div>
