<div class= "photo-list">
  <div class=" ui grid">
    <div class="two wide column">
    </div>
    <div  class="fourteen wide coulmn">
      <div class= "ui raised segment" >
        <img src="resources/static/pic/sample1.jpg" class="ui image big centered" style="cursor: pointer"/>
        <div class ="ui center aligend grid">
          <div class="column twelve wider">
            <div class="ui grid">
              <div class="four column row ">
                <div class ="left floated column left aligned">
                  <strong>Photo Title</strong><br>
                  Photo Description
                </div>
                <div class="right floted column left aligned">
                  3   Links
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
