<div class= "container">
 <form   class="ui form" #employeeForm="ngForm"  (ngSubmit)="searchEmployee()">
   <h2 class = " ui dividing header"> Search Employee </h2>
    <div class=" field">
      <label>Name :</label>
        <div class="filed">
          <input type="text" [(ngModel)]="employeeDTO.name"  name="name"
               #name="ngModel" placeholder="Employee Name" required>
        </div>
    </div>
       <button type="submit" [disabled]="!employeeForm.form.valid" class="ui button">Search</button>
    </form>

<div *ngIf="isFound">
      <table class="ui fixed single line celled table">
        <thead>
          <tr>
          <th>id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor =" let  employees of returnrdEmployeeList ; let i = index " >
              <td>{{ employees.id }}</td>
              <td>{{ employees.name }}</td>
              <td>{{ employees.email }}</td>
              <td>{{ employees.mobile }}</td>
              <td><button class="ui button"  (click)   =   'delete(employees.id)'  >Delete</button></td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
